@import '../../styles/mixins';

.advantage {
  display: inline-block;
  width: 50%;
  height: auto;
  position: relative;
  font-size: 0;

  @include breakpoint-down(sm) {
    width: 100%;
  }

  &-link {
    img {
      width: 100%;
      height: auto;      
    }
    
    .content-wrapper {
      top: 0;
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: all .4s ease-in-out;
      background: rgba(0,102,255,.9);
      font-size: 0;


      &:hover {
        opacity: 1;
        cursor: pointer;
      }

      &-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100%;
        
        .title {
          text-align: center;
          font-family: 'Roboto', Sans-serif;
          font-size: 36px;
          color: #fff;
          letter-spacing: 0;
          
          @include breakpoint-down(md) {
            font-size: 24px;
          }
          
          @include breakpoint-down(xs) {
            font-size: 16px;
          }
        }
      
        p {
          font-family: 'Roboto', Sans-serif;
          text-align: center;
          width: 80%;
          margin: 10px auto;
          font-size: 16px;
          color: #fff;
          letter-spacing: 0;
          line-height: 28px;
  
          @include breakpoint-down(md) {
            width: 80%;
            margin: 4% auto;
            font-size: 14px;
          }
  
          @include breakpoint-down(sm) {
            width: 95%;
            margin: 2% auto;
            font-size: 14px;
          }
          
          @include breakpoint-down(xs) {
            width: 80%;
            margin: 10px auto;
            font-size: 13px;
          }
        }
      }
    }    
  }  
}